<nav class="navbar">
    <div>
        <a href="/"> Home </a>
        <span> | </span>
        <a href="/streamDream"> StreamDream Selection Page</a>
        <span> | </span>
        <a href="/streamDream/new"> Add New Artist</a>
    </div>
</nav>