
<nav class="navBar">
    <ul class="navItems">
        <li><a href="/"> Home </a></li>
        <span> | </span>
        <li><a href="/streamDream"> StreamDream Selection Page</a></li>
        <span> | </span>
        <li><a href="/streamDream/new"> Add New Artist</a></li>
    </ul>
    
</nav>