<div class="navbar">
    <a href="/streamDream"> Stream Dream </a>
    
    <div class="navRight">
        <a href="/streamDream"> Home </a>
        <a href="/streamDream"> StreamDream Selection Page</a>
        <a href="/streamDream/new"> Add New Artist</a>
    </div>
</div>