@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }



/* scroll bar */
::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #A36CB2;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }


body{
    background-color: #5E175B;
    z-index: 1;
    top: 1rem;
    margin: 0;
    font-family: 'Audiowide', cursive
}



/* nav bar */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    min-height: 5vw;
    min-width: 60vw;
    top: 0vw;
    background: white;
    font-size: 1.2rem;
    align-items: center;
    z-index: 1;
    max-height: 30vh;
    }

.navbar .navTop {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    min-height: 5vw;
    top: 0vw;
    background: white;
    font-size: 1.2rem;
    align-items: center;
    z-index: 1;
    max-height: 10vh;
    }

.navbar a{
    text-decoration: none;
    color: #5E175B;
    font-family: 'Fascinate Inline', cursive;
    font-size: 5vh;
    display: flex;
    align-items: center;
    max-height: 1vw;
    min-width: 4vh;
    
}

.navIcons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: 1.5rem;
}



.logo{
    margin: 0 .2rem;
    max-height: 5vw;
    width: 100%;
}

.searchBar{
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
    min-width: 22vh;
    max-height: 8vh;
}

.searchInput{
    width: 90%;
    font-size: 1.2rem;
    padding: .2em;
    font-size: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 30vw;
    border: 1px solid #5E175B;
    font-family: 'Audiowide', cursive;
    outline: none;
    max-height: 4vw;
}

.searchButton{
    display: flex;
    align-items: center;
    padding: 0 1.55rem;
    border: 0.133vw solid #5E175B;
    background-color: #A36CB2;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: background-color 150ms;
    max-height: 4vw;
   
}

.searchButton:hover{
    background-color: #654E9D;
    cursor: pointer;
}

.searchIcon{
    width: 3vw;
    max-width: 2vw;
    max-height: 4vw;
}

.notificationIcon{
    max-height: 5.5vw;
    width: 100%;
}

.uploadIcon, .profileIcon{
    max-height: 4vw;
    width: 100%;
}

/* explore bar */

.navbar .exploreBar{
    width: 100%;
    background-color: white;
    border: 0.1vw solid rgba(248, 243, 243, 0.918);
    overflow: hidden;
    top: 10vw;
    min-height: 8vw;
    min-width: 40vh;
}

.category-section{
    display: flex;
    position: fixed;
}

.categories{
    padding: .4rem 2rem;
    margin-top: 10vh;
    border-top: 0.133vw solid #F9F9F9;
    border-bottom: 0.133vw solid #F9F9F9;
    
}

.category{
    font-size: 3vh;
    margin-right: 1rem;
    border: 1px solid #654E9D;
    border-radius: 500px;
    padding: 1vh;
    transition: background-color 150ms;
    background-color: #A36CB2;
    word-wrap: none;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Audiowide', cursive;
    overflow: hidden;
}


.category:hover{
    background-color: #654E9D;
    color: white
}

/* header */

.header{
    width: 100%;
    margin-top: 3%;
}

.headerImg{
    width: 100%;
}

/* show page artist image and profile */

.artistProfile{
    display: flex;
    flex-direction: row;
    width: 100%
}

.profileImageDiv{
    width: 33%;
    height: 33%
    
}

.profileImage{
    width: 100%;
    border-radius: 100%;
}

.artistInfo{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 0, 0, 0, 15%;
}

/* index page video images and info */
.container{
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.667vw;
    justify-content: center;
}

.featuredVideos{
    padding: 1.5vw 0 1.5vw 2.5vw;
    color: #E578B2;
    margin-top: 10vw;
    font-size: x-large;
}

.videoSection{
    display:grid;
    grid-template-columns: repeat(autofill, minmax (250px, 1fr));
    gap:3rem 1rem;
    padding: 1rem 0.5rem;
    justify-content: center;
}

.videoBlock{
    background-color: rgba(248, 243, 243, 0.918);
    width: 15.6rem;
    height: 11.1rem;
    border-radius: 2vw;
    box-shadow: 0.667vw 0.667vw 2vw 0.667vw #000000;
}

.videoContainer{
    
    width: 100%;  
    
    display: flex;
    flex-direction: column;
}

.streamDreamImg{
    display: flex;
    position: relative;
    width: 14.3rem;
    height: 8.1rem;
    margin: 4%; 
    border-radius: 1.5vw;
}

.videoDescriptionBox {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 .75rem 0 .4rem;
    
}

.videoDescriptionBox a{
    text-decoration: none;
    color: #A36CB2;
  
    
}

.videoInfo {
    display:flex;
    flex-direction: column;

}





.videoArtist{
    margin-bottom: .1rem;
    font-size:medium;
    transition: 150ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoArtist:hover{
    color: #654E9D;
}

/* form page  */

  .formBox {
   
   width: 100%;
   display: flex;
   justify-content: center;
  }
  
  
  #form {
    background: #F9F9F9;
    padding: 3.333vw;
    margin: 10% 0;
    width: 25rem;
    box-shadow:  0 0.9rem 2rem 0 black;
    line-height: 3.333vw;
    color:#5E175B;
    border-radius: 1.333vw;
    
   

  }
  
  #form h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 1.333vw;
  }
  
  
  #form input[type="text"],
  #form input[type="number"],
  #form textarea {
    width: 100%;
    border: 0.133vw solid #ccc;
    background: #FFF;
    padding: 1vw;
  }
 
 
  #form button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: #5E175B;
    color: #FFF;
    margin: 0 0 0.667vw;
    margin-top: 7%;
    padding: 1.333vw;
    font-size: 15px;
    transition: 0.2s;
    opacity: 0.6;
    font-family: 'Audiowide', cursive
  }

  #form button[type="submit"]:hover {
    opacity: 1;
    box-shadow:  0 0.9rem 2rem 0 black;
  }
  
  #form button[type="submit"]:active {
    box-shadow: 0 3px rgb(35, 34, 34);
    transform: translateY(1.5px);
  }
  
  
  
  
 
  